* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

:root {
    --section-padding:50px 0;
    --title-big:34px;
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.container-s{
    max-width: 874px ;
    margin: 0 auto;
}
.container-xs{
    max-width: 570px;
    margin: 0 auto;
}
/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;

}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.col-3 {
    flex-basis: calc(100%/3);
}

.col-2 {
    flex-basis: calc(100%*2/3);
}
.col__hero{
    padding: 12px;
}
.col-50{
    flex-basis: 50%;
}
/* BUTTONS */

.button {
    border-radius: 30px;
    text-align: center;
}


.button__white {
    background-color: white;
    color: black;
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger {
    display: none;
}

/* MEDIAQUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }
    .header-nav {
        display: none;
    }
}

/* HERO */
.hero{
    padding: var(--section-padding);
}
.card {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 20px;
    border-radius: 20px;

}
.card__hero{
    background-color: var(--lightblue);
    min-height: 100%;
}
.card__image ,.card__info{
    flex-basis: 50%;
}
.card__image >img{
    margin-bottom: -25px;
}

.card__title,
.card__text{
    padding: 20px 0;
}
.card__text{
    line-height: 1.5rem;
}
.card__title{
    color: var(--blue);
}
.button__hero{
    color: white;
    max-width: 200px;
    background-color: var(--blue);
    padding: 14px 0 ;
}
.card__icon{
    width: 100%;
    font-size: 70px;
    color: var(--blue);
}

/* MEDIAQUERY HERO */
@media screen and (max-width:991px) {
    .card__image ,.card__info{
        flex-basis: 100%;
    }
    .card__image{
        max-width: 250px;
    }
    .card{
        align-content: flex-start;
    }
}

@media only screen and (max-width: 575px) {
    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }
    .button__hero{
        margin: 0 auto;
    }
}


/*  PLANING */
.row .col-50{
    padding: 0 35px;
}
.planing{
    background-color: var(--purple);
    padding: var(--section-padding);
}

.planing__image{
    padding: 64px 0;
}


.planing__text{
    color: white;
    padding-top: 64px;
}


.planing__text>h3{
    padding: 64px 0;
    font-size: 24px;
}

.card__planing{
    background-color: white;
}
.card__planing>p{
    padding: 30px 0;
}
.col__planing{
    align-self: flex-end;
}

.arrow{
    background-color: var(--purple);
    padding: 20px;
    border-radius: 50%;
    line-height: 20px;
}
/* MEDIAQUERY PLANING */
@media screen and (max-width:991px) {
    .col-50{
        flex-basis: 100%;
    }

    .col-50 img{
        max-width: 700px;
    }
    .planing__text>h3{
        font-size: 48px;
    }
    .planing__text>p{
        padding-bottom: 36px;
    }
}

/* TESTIMONIALS */
.testimonials{
    padding: var(--section-padding);
}
.testimonial-text{
    text-align: center;
}

.testimonial-text >h2{
    font-size: 34px;
    padding: 25px 0;
    color: var(--purple);
}

.testimonial-text >p{
    padding: 0 25px;
}

.testimonial-card{
    border-radius: 20px;
    background-color: var(--purple);
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.testimonial-card-img{
    margin: 30px 15px;
    flex-basis: calc(20% - 64px);

}
.testimonial-card-img>img{
    border-radius: 50%;
    aspect-ratio: 1;
    min-height: 200px;
}

.testimonial-card-txt{
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: calc( 80% - 64px)
}
.people{
    padding: 36px 0;
}

/* MEDIAQUERY TESTIMONIALS */

@media screen and (max-width:991px) {
    .testimonial-card{
        max-width: 748px;
        margin: 15px auto;
    }
}
@media  screen and (max-width: 575px) {
    .testimonial-card{
        max-width: 310px;
        margin: 15px auto;
        gap: 0;
    }
    .testimonial-text{
        max-width: 305px ;
        margin: 0 auto;
    }
    .testimonial-card-txt{
        flex-basis: 100%;
        padding:0 20px
    }
    .testimonial-card-img{
        margin: 35px auto;
        flex-basis: 50%;
    }
    .people{
        margin: 0 auto;
    }
}

/* BENEFITS */
.benefits-card{
    border-radius: 20px;
    background-color: white;
    flex-basis: calc(100% / 3 - 30px);
    padding: 52px 43px 33px 33px ;
    display: flex;
    flex-direction: column;
}


.benefits{
    background-color: var(--purple);
    padding: var(--section-padding);
    min-height: 400px;   /* REGOLA DA TOGLIERE */
}


.benefits__title{
    text-align: center;
    color: white;
    font-size: var(--title-big);
}

.benefits-card-container{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;  /* REGOLA DA TOGLIERE*/
}


.benefit-number{
    font-size: 52px;
    font-weight: bold;
}
.benefit-number,
.benefit-card-title{
    color: var(--purple);
}

.benefit-card-title{
    font-size: 18px;
    padding: 17px 0 ;
}

.benefit-card-text{
    color: rgb(171, 171, 171);
    padding: 17px 0;
}

.benefit-button{
    text-align: center;
    max-width: 140px;
    padding: 10px;
    line-height: 20px;
    color: white;
    background-color: var(--purple);
    border-radius: 20px;

}
/* MEDIAQUERY BENEFITS */
@media screen and (max-width:991px) {
    .benefits-card{
        flex-basis: calc( 50% - 30px);
    }
    .benefits-card-container{
        justify-content: space-evenly;
    }
}

@media  screen and (max-width: 575px){
    .benefits-card{
        flex-basis: 100%;
        max-width: 300px;
    }
    .benefits-card-container{
        padding: 12px;
    }
}

/* ABOUT */
.about{
    padding: var(--section-padding);
}
.container-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text{
    flex-basis: 60%;
}
.about-text>p{
    padding: 40px 0 ;
    line-height:2;
}
.about-text> h2{
    font-size: var(--title-big);
    color: var(--purple);
}
.about-image{
    flex-basis: 20%;
}

.about-image img{
    border-radius: 50%;
    width: 245px;
}

.about-image p{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--purple);
    padding: 30px 0;

}

/*MEDIAQUERY ABOUT*/
@media screen and (max-width: 575px) {
    .about-text{
        flex-basis: 100%;
    }
    
    .container-about{
        max-width: 310px ;
    }
    
}

/* STARTED */
.started{
    padding: var(--section-padding);
    background-color: var(--purple);
}

.started-text{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.started-text h2{
    font-size: 34px;
}

.free{
    font-size: 66px;
    color: #FDC15F;
}

.started-button{
    padding: 30px 75px ;
    max-width: 290px;
    background-color: white;
    color: var(--purple);
    border-radius: 50px;
    align-self: center;
}

/* FOOTER */
footer{
    background: #333333;
    padding: var(--section-padding);
}

.footer-text{
    text-align: center;
    color: white;
}

.footer-text :last-child{
    margin-top: 64px;
}

.footer-link{
    color: var(--purple);
    text-decoration: underline;
}